//investors-menu
// .mtr-investors.ubermenu-has-submenu-mega {

//     .ubermenu-target {
//         padding: 8px 0 !important;
//         margin: 0 8px;
//         font-size: 13px !important;
//         border-bottom: 1px solid rgba(0, 0, 0, 0.05);
//         padding: 12px 16px 12px !important;
//     }

//     .ubermenu-submenu-type-stack {
//         padding: 0 !important;
//     }
// }

.ubermenu-submenu-id-39984 {
    .ubermenu-target{
        color: #000;
        &:hover {
            color: var(--clr-blue2) !important;
        }
    }
    .mtr-menuhead {
        font-size: 14px !important;
        font-weight: 600 !important;
        color: var(--clr-blue2) !important;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            left: 20px;
            bottom: 0px;
            width: 40px;
            height: 2px;
            background-color: var(--clr-blue2);
        }
    }
}



// opacity 
.fade:not(.show) {
    opacity: 1;
}
.tab-content>.tab-pane {
    display: block;
}

//captcha 
.newsletter-container.mtr-captcha {
    iframe {
        width: 100%;
    }
}
.mtr-captcha {
    &__out {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__sec {
        display: flex;
        flex-direction: column;
        width: calc(50% - 32px);
        margin: 0 16px;
        input {
            width: 100%;
            // &:last-child {
            //     width: auto;
            // }
        }
        .wpcf7-submit{
            width: auto;
        }
        .wpcf7-form-control-wrap.recaptcha {
            &>span {
                display: flex;
                justify-content: flex-end;
            }
        }
        .column.col-half {
            width: unset;
        }
        .invest-form-cta {
            margin-left: 6px;
        }
        .column.col-captcha {
            width: unset;
        }
        
    }
}

@include mobile {
    .mtr-captcha {
        &__out {
            flex-direction: column;
        }
    
        &__sec {
            display: flex;
            flex-direction: column;
            width: calc(50% - 32px);
            margin: 0 16px;
            input {
                width: 100%;
                // &:last-child {
                //     width: auto;
                // }
            }
            .wpcf7-submit{
                width: auto;
            }
            .wpcf7-form-control-wrap.recaptcha {
                &>span {
                    display: flex;
                    justify-content: flex-end;
                }
            }
            .column.col-half {
                width: unset;
            }
            .invest-form-cta {
                margin-left: 6px;
            }
            .column.col-captcha {
                width: unset;
            }
            
        }
    }
}