.mtr-about{
    padding: 140px 0 100px 0;

    &__wrap{
        display: flex;
        justify-content: space-between;
    }

    &__left{
        width: 40%;
    }

    &__leftwrap {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;  
        grid-template-rows: auto auto;    
        gap: 0;                       
        justify-items: center;          
        align-items: center; 
    }

    &__leftimg {
        &:nth-child(1),&:nth-child(4) {
            width: calc(100% - 0px);
            display: flex;

            img {
                width: 100%;
                height: 195px;
            }
        }

        &:nth-child(2),&:nth-child(3) {
            width: calc(100% - 15px);
            display: flex;

            img {
                width: 100%;
                height: 180px;
            }
        }
    }

    &__subheading{
        font-size: 24px !important;
    }

    &__right{
        width: 65%;
        p{
            color: #4B4947;
            font-size: 18px;
            padding-bottom: 20px;
        }
        
    }
    
}

@include tablet-pro{
    .mtr-about{
        &__left{
            width: 45%;
            margin-top: 20px;
        }

        &__right{
            width: 55%;
        }

        &__left {
            display: flex;
            align-items: center;
         }
    }
}

@include tablet{
    .mtr-about{
     margin-top: 70px;

     &__left{
         width: 45%;
         margin-top: 20px;
     }

     &__right{
         width: 55%;
     }

     &__left {
        display: flex;
        align-items: center;
     }

     &__leftimg {
        &:nth-child(1),&:nth-child(4) {
            img {
                height: 160px;
            }
        }

        &:nth-child(2),&:nth-child(3) {
            img {
                height: 140px;
            }
        }
     }
    }
 }

@include mobile{
    .mtr-about{
        &__wrap{
            flex-direction: column;
        }

        &__left{
            width: 100%;
            img{
                height: 150px;
            }
        }

        &__leftwrap {
            width: 100%;
        }

        &__right{
            width: 100%;
            padding: 30px 0px;
        }
    }
}



