.mtr-tabs {
    padding: 0;

    &__tabpane {
        padding: 40px 0;
    }

    .mtr-title--font30 {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .nav-link {
        color: var(--clr-blue2);
        min-height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .tabs-sub {
        position: relative;
    }

    &__head {
        position: sticky;
        top: 0;
        background-color: #fff;
    }

    &__table-out {
        max-height: 550px;
        max-height: 550px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 3px;
        }
    
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(216, 214, 214, 0.3);
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
        }
    }

    &__tab2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__img {
        width: 20%;
        box-shadow: 25px 10px white;

        img {
            width: 100%;
        }
    }

    .a {
        background-color: #0098DF;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    // p {
    //     color: white;
    // }

    .nav-item {
        width: calc(25%);
        border-spacing: 20px;
        position: relative;

        button {
            width: 100%;
            height: 100%;
        }

        &::after {
            position: absolute;
            content: "";
            background-color: var(--clr-blue2);
            width: 0.5px;
            height: 80%;
            top: 10%;
            right: 0;
        }
       
    }

    .nav-pills .nav-link {
        border-radius: 0;
    }
    
    .nav-pills .nav-link.active {
        background-color: var(--clr-blue2);
        font-weight: bold;
    }

    .nav {
        justify-content: center;
        border-top: 1px solid var(--clr-blue2);
        border-bottom: 1px solid var(--clr-blue2);
    }

    .mtr-tab-tile {
        // height: 250px;
        // overflow: auto;
    }

    .tab-sub {
        position: relative;
    }

    .tab {
        flex: 1;
        // padding: 10px;
        // background-color: #f4f4f4;
        // border: 1px solid #ccc;
        text-align: center;
    }

    .hidden {
        display: none;
    }

    .arrow-container {
        display: flex;
        justify-content: space-between;
    }

    .arrow {
        text-align: center;
        cursor: pointer;
        // width: 30px;
        // height: 24px;
        // border-radius: 20px;
        // background-color: cornflowerblue;
        color: rgb(17, 17, 17);
    }

    .left-arrow {
        order: 1;
        position: absolute;
        left: 8px;
        top: 27px;

        img {
            transform: rotate(180deg);
            width: 18px;
        }
    }

    .right-arrow {
        order: 2;
        position: absolute;
        right: 8px;
        top: 27px;
        height: 20px;
        width: 20px;

        img {
            width: 18px;
        }
    }

    .mtr-scrolltable{
        &__dwnld{
            display: flex;
            justify-content: flex-end;
            margin-right: 36px;
        }

        &__dwnldbtn{
            display: flex;
            margin-right: 8px;
            color: var(--clr-blue2);
            font-size: 14px;
            font-weight: 600;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                background-color: var(--clr-blue2);
                height: 2px;
                width: 20%;
                bottom: -8px;
                left: 0;
                transition: 0.3s;
            }
            &:hover {
                &::after {
                    width: 100%;
                    transition: 0.3s;
                }
            }
        }

        &__dwnldicn{
            width: 15px;
            height: 15px;
            margin-left: 8px;
            svg{
                margin-bottom: 6px;
            }
        }
    }

    //new tab 
    .mtr-financialtab {
        // padding: 32px 0;
        .nav {
            border: 0;
            justify-content: flex-start;
            margin: 0 -6px;
            margin-bottom: 16px;
            display: flex;
            flex-wrap: wrap;
        }
        .nav-item::after {
            content: unset;
        }
        .nav-item {
            width: calc(7% - 12px);
            margin: 0 6px;
        }
        .nav-item.docs {
            width: calc(17% - 12px);
        }
        .nav-link {
            border: 1px solid var(--clr-blue2);
            min-height: auto;
            padding: 10px;
            border-radius: 6px;
        }
        .nav-link::after {
            content: unset;
        }
        .nav-link.active {
            background-color: var(--clr-blue2);
            color: var(--clr-white);
            font-weight: 600;
        }
        .tab-content {
            border: 1px solid var(--clr-blue2);
            border-radius: 6px;
            padding: 24px;
            &__title {
                padding: 12px 16px;
                font-size: 14px;
                font-weight: 600;
                color: #0098DF;
                background-color: #E7F6FC7C;
                border: 1px solid #c7c7c7;
                border-bottom: 0;
            }
            &--earn {
                padding: 24px;
                border: 1px solid #c7c7c7;
                &.mb24 {
                    margin-bottom: 24px;
                }
            }

            .infolist {
                li {
                    position: relative;
                    padding-left: 15px;
                    &::after {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #0098DF;
                    }
                }
                
            }
        }

        button:after {
            content: unset;
          }
    }
}

// new module of annual reports
// .mtr-annualtable{
//     .mtr-title{
//         padding: 30px 0px 16px;
//     }
// }


@include tablet {
    .mtr-tabs {
        .nav-link {
            min-height: 100px;
        }

        .nav {
            display: flex !important;
        }

        .left-arrow {
            top: 40px;
        }

        .right-arrow {
            top: 40px;
        }
        .mtr-financialtab {
            .nav-item {
                width: calc(10% - 12px);
            }
            .nav-item.docs {
                width: calc(30% - 12px);
            }
        }
        
    }
}


/* media query */
@include mobile {
    .mtr-tabs {
        padding: 0;

        &__head {
            position: sticky;
            top: 0;
            background-color: #fff;
        }

        .tabs-sub {
            overflow: hidden;
        }

        .nav-item {
            width: 100%;
            border-spacing: 20px;
            text-align: center;

            button {
                width: 100%;
            }
        }

        .nav-pills .nav-link {
            border-radius: 0;
        }

        .nav {
            justify-content: center;
            flex-wrap: nowrap;
            display: block !important;
        }

        .mtr-tab-tile {
            // height: 250px;
            width: 100%;
            // overflow: auto;
        }

        .mtr-financialtab {
            .nav {
                display: flex !important;
            }
            .nav-item {
                width: calc(33.3% - 12px);
                margin-bottom: 12px;
            }
            .nav-item.docs {
                width: calc(100% - 12px);
            }
        }
    }

}
