.mtr-art {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px;
   border: 1px solid #c7c7c7;
   border-bottom: 0;
   &--center {
      justify-content: center;
   }
   &:last-child {
      border-bottom: 1px solid #c7c7c7;
   }
   &.active {
      background-color: #e7f6fc7a;
   }  
   &__txt {
      font-size: 15px;
      width: 80%;
   }
   &__dwnld {
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 10px 14px;
      background-color: #0098DF;
      img {
         width: 12px;
         height: 12px;
      }
      span {
         font-size: 13px;
         margin-left: 5px;
         color: #fff;
         margin-left: 6px;
      }
   }
}
@include mobile {
   .mtr-art {
      &__txt {
         font-size: 14px;
      }
      &__dwnld {
         span {
            font-size: 12px;
            display: none;
         }
      }
   }
}