.mtr-btn {
  font-size: 20px;
  font-weight: 600;
  color: #0098DF;
  &:hover {
    color: #0098DF;
    .mtr-btn__icon:not(.mtr-btn__icon--rotated) img {
      transform: translateX(0);
    }
    .mtr-btn__icon--rotated img {
      transform: translateX(4px) scaleX(-1);
    }
  }
  &__icon {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 4px;
    background-color: #0098DF;
    vertical-align: bottom;
    overflow: hidden;
    img {
      width: 90%;
      transform: translateX(-14px);
      transition: transform 0.3s ease-in-out;
    }
    &--rotated {
      img {
        transform: translateX(14px) scaleX(-1);
      }
    }
  }
}