.mtr-title {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    &--font30 {
        padding: 45px 0px 16px;
        span {
            font-size: 30px !important;
        }
    }

    &--mt20{
        margin-top: 20px;
    }



    span {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 8px;
        position: relative;
    }

    &__line {
        position: absolute;
        left: 0;
        bottom: 0px;
        background-color: var(--grey-lite1);
        height: 4px;
        border-radius: 3px;
        width: 90px;
    }

    &__shape {
        position: absolute;
        left: 89px;
        bottom: -5px;    
        background-color: var(--grey-lite1);
        width: 15px;
        height: 15px;
        transform: rotate(42deg);
    }

    &.Approach {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 20px;
            font-weight: 600;
        }
        .mtr-title__line {
            display: none;
        }
    }
}

@include mobile-tablet {
    .mtr-title {
        span {
            font-size: 32px;
        }

        &__shape {
            left: 68px;
        }
    }
}